<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Karina's Project 1 - About Me Page</title>
    </head>
    <body>
        <div>Hello, Welcome to Project 1! This is the about me page!</div>
		<p>I like to collect memes.</p>
		<p>But first, here is a cat fact!</p>
		<p id="catFact">Thinking of a cat fact...</p>
		<img alt="theOffice" src="/images/theOffice.JPG">
		<img alt="chilling" src="/images/chilling.JPG">
		<img alt="whining" src="whining.JPG">

        <script type="text/javascript" src="scripts/catFact.js"></script>
		
    </body>
	
</html>
