<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Karina's Project 1 - Pokemon Page!</title>
    </head>
    <body>
        <a href = '..'>Home Page</a>
        <a href = '/views/about.html'>About Page</a>
        <div>Hello, Welcome to Project 1! This is the Pokemon page!</div>
		<p>Here's ALL the Pokemon (well, the first 251): </p>

        <script type="text/javascript" src="/scripts/pokemon.js"></script>

    </body>
	
</html>